/.env
/.env.*
!/.env.example
!/.env.testing
/.phpunit.result.cache
/.phpunit.cache
/auth.json
/node_modules/
/vendor/
/backups/
/public/hot
/public/storage
/storage/*.key
/storage/app/exports/
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
